<div
  style="
    background-color: #93ff93;
    height: 30px;
    display: flex;
    justify-content: center;
    padding: 3px;
  "
>
  <span> مطعم الارض خضراء يرحب بكم </span>
</div>
<div
  style="
    background-color: #91ffdc;
    height: 30px;
    display: flex;
    justify-content: space-evenly;
    padding: 3px;
  "
>
  <img src="http://greenland-rest.com/assets/cart.svg" alt="" />
  <img src="http://greenland-rest.com/assets/discounts.svg" alt="" />

  <img src="http://greenland-rest.com/assets/cart-large-linear.svg" alt="" />

</div>

<div *ngIf="latitude && longitude">
  <p>Latitude: {{ latitude }}</p>
  <p>Longitude: {{ longitude }}</p>
</div>
<div *ngIf="errorMessage">
  <p>Error: {{ errorMessage }}</p>
</div>


<div *ngIf="isLoading; then thenBlock; else elseBlock"></div>
<ng-template #thenBlock>
  <div style="text-align: center">
    <div class="spinner-border" role="status">
      <span class="sr-only"></span>
    </div>
  </div>
</ng-template>
<!-- 1 -->
<ng-template #elseBlock>
  <div *ngIf="isError; then thenBlock1; else elseBlock1"></div>
  <ng-template #thenBlock1>
    <div style="text-align: center">
      <div>
        <div
          style="
            border: 1px solid rgb(255, 8, 8);
            border-radius: 60px;
            width: 200px;
            margin: auto;
            height: 300px;
            display: flex;
            justify-items: center;
            align-items: center;
            background-color: aliceblue;
          "
        >
          <div style="width: -webkit-fill-available">
            <div style="margin: 10px; color: red">
              {{ error }}
            </div>

            <button
              *ngIf="!isSearchMode"
              (click)="read()"
              class="btn btn-outline-danger"
            >
              اعادة المحاولة
            </button>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template #elseBlock1>
    <div *ngIf="resultData.length == 0" style="text-align: center">
      لاتوجد طلبات معلقة
    </div>
    <div class="card-container">
      <ng-template ngFor let-item [ngForOf]="resultData" let-c="index">
        <div class="card">
          <div class="card-image">
            <img
              [src]="item.category_image_path + item.image"
              alt="{{ item.name }}"
            />
          </div>
          <div class="card-title">
            {{ item.name }}
          </div>
        </div>
      </ng-template>
    </div>
  </ng-template>
</ng-template>
