/* .group {
  display: inline;
  background: skyblue;
  padding: 5px;
  margin: 10px;
  cursor: pointer;
}

a {
  color: black;
  text-decoration: none;
  background-color: #d5d5d5;
  display: block;
  font-size: 21px;
  font-weight: 600;
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
}

a.active {
  text-decoration: none;
  background-color: #845a5a;
  color: white;
  display: block;
  font-size: 21px;
  font-weight: 600;
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
} */

/* Ensure that the parent container is responsive */
/* :host {
  display: block;
  padding: 10px;
} */

/* Flexbox container to layout the cards */
.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Adjusts the space between cards */
  justify-content: space-between; /* Ensures space between items */
}

/* Style for each card */
.card {
  flex: 1 1 calc(50% - 10px); /* 50% width minus the gap */
  border: 1px solid;
  border-radius: 20px;
  overflow: hidden;
  background-color: #fff;
  box-sizing: border-box; /* Ensure padding and border are included in the width */
}

/* Style for the image */
.card-image img {
  width: 100%;
  height: auto;
  display: block;
}

/* Style for the title */
.card-title {
  text-align: center;
  font-weight: 800;
  background-color: rgb(5, 75, 26);
  color: white;
  padding: 10px;
  font-size: 1.25rem;
  border-radius: 0px 0px 20px 20px;
}



@media (max-width: 768px) {
  .card {
    flex: 1 1 100%; /* One item per row on very small screens */
  }

  .card-title {
    font-size: 0.875rem;
  }
}


